/* main.css */

/* Login */
.position-relative {
  position: relative;
  width: 1512px;
  height: 982px;
  background: #FFFFFF;
}

/* Rectangle 48 */
.rectangle-48 {
  box-sizing: border-box;
  position: absolute;
  width: 800px;
  height: 600px;
  left: 356px;
  top: 191px;
  background: #FFFFFF;
  border: 10px solid #154734;
}

/* Rectangle 50 */
.rectangle-50 {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 60px;
  left: 456px;
  top: 401px;
  background: #FFFFFF;
  border: 1px solid #154734;
}

/* Rectangle 60 */
.rectangle-60 {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 60px;
  left: 456px;
  top: 521px;
  background: #FFFFFF;
  border: 1px solid #154734;
}

/* Rectangle 62 */
.rectangle-62 {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 60px;
  left: 456px;
  top: 641px;
  background: #154734;
  border: 1px solid #154734;
  border-radius: 10px;
}

/* Rectangle 49 */
.rectangle-49 {
  box-sizing: border-box;
  position: absolute;
  width: 800px;
  height: 30px;
  left: 356px;
  top: 191px;
  background: #BD8B13;
  border-width: 10px 10px 1px 10px;
  border-style: solid;
  border-color: #154734;
}

/* Other styles */
/* Add styles for other elements here */