@font-face {
    font-family: JosefinSans;
    src: url(Josefin-Sans-regular.woff);
}

body {
    background-color: #98c9b0;
    font-family: JosefinSans;
}

h1 {
    color: var(--Poly-Green, #154734);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 64px;
    line-height: normal;
}

.body-with-image {
    background-image: url("cal-poly.png"); /* Adjust the path to match the location of my-image.png */
    background-size: cover;
}

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

input,
select,
textarea,
button {
    outline: 0;
}

/* CalendarSquare */
.calendar-container {
    display: grid;
    width: 64.1%;
    height: 80%;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    background: #dfdfdb;
    border: 1px solid #154734;
    border-radius: 20px;
    top: 17%;
    left: 20%;
}

.logout {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1vw;
    border: 1px solid #000;
    background: var(--White, #ffffff);
    text-align: center;
    cursor: pointer;
    align-self: center;
    /* Adjust vertical position as needed */
}

.days-frame {
    display: flex;
    justify-content: space-between;
    /* Evenly distribute the space between items */
    align-items: center;
    /* Center items vertically */
    width: 63.6%;
    height: 4.7%;
    left: 19%;
    top: 12.5%;
    position: absolute;
    /* Use relative positioning if needed */
    z-index: 90;
}

.days-header {
    font-size: calc(1.4vw + 1.4vh);
    /* Adjust as needed */
    /* Combine rem and vw for scaling */
    line-height: 1;
    /* Adjust line height to be proportional */
    text-align: center;
    /* Center the text horizontally */
    color: #154734;
    flex: 1;
    /* Allow the items to grow and take up equal space */
}

/* Dropdowns */
.calendar-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    position: absolute;
    left: 5%;
    top: 17%;
    box-sizing: border-box;
    width: 8%;
    height: 38%;
    background: #dfdfdb;
    border: 1px solid #154734;
    border-radius: 24px;
}

.todo-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    position: absolute;
    left: 5%;
    top: 58%;
    box-sizing: border-box;
    width: 8%;
    height: 38%;
    background: #dfdfdb;
    border: 1px solid #154734;
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
}

.calendars-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    color: #000000;
    font-family: JosefinSans, var(--default-font-family);
    font-size: calc(0.7vw + 0.7vh);
    /* Adjust as needed */

    white-space: nowrap;
    z-index: 51;
}

.todo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    color: #000000;
    font-family: JosefinSans, var(--default-font-family);
    font-size: calc(0.7vw + 0.7vh);
    /* Adjust as needed */

    white-space: nowrap;
    z-index: 51;
}

.header {
    display: flex;
    /* Enable flexbox */
    justify-content: left;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
    width: 80%;
    height: inherit;
    position: absolute;
    top: 2.5%;
    left: 16%;
}

.todayButton {
    display: inline-block;
    box-sizing: border-box;
    width: 6%;
    height: 10%;
    font-size: calc(0.9vw + 0.9vh);
    border: 1px solid #000;
    background: var(--White, #ffffff);
    text-align: center;
    cursor: pointer;
    align-self: center;
    /* Adjust vertical position as needed */
}

.today {
    background: #789f90;
    border-radius: 50%;
}

.navIcon {
    display: inline-block;
    width: 3.5%;
    height: 3.5%;
    fill: var(--Stadium-Gold, #f8e08e);
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.navIcon:hover {
    fill: #dfdfdb;
    cursor: pointer;
}

.currentMonth {
    color: var(--Poly-Green, #154734);
    box-sizing: border-box;
    display: inline-block;
    font-size: calc(2.5vw + 2.5vh);
    /* Adjust as needed */
}

.change-view-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 7%;
    height: 2.61%;
    top: 8%;
    left: 88%;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 12;
}

.todo-view-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 7%;
    height: 2.61%;
    top: 12%;
    left: 88%;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 12;
}

.change-view {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    color: #000000;
    font-family: JosefinSans, var(--default-font-family);
    font-size: calc(0.7vw + 0.7vh);
    /* Adjust as needed */
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}

.the-clock {
    position: absolute;
    left: 86%;
    top: 1.5%;
    font-size: calc(1.8vw + 1.8vh);

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.change-view-frame:hover,
.todo-view-frame:hover,
.settings-frame:hover,
.todayButton:hover,
.logout:hover {
    background: #dfdfdb;
}

.download-frame:hover {
    background: #f8f8f821;
}

.dropdown-arrow {
    width: calc(0.5vw + 0.5vh);
    /* Default width */
    height: calc(0.5vw + 0.5vh);
    /* Default height */
    background: url(../assets/Dropdown_arrow.png) no-repeat center;
    background-size: cover;
    fill: #000;
    /* Change the color of the arrow */
}

.settings-frame {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1.4vw + 1.4vh);
    height: calc(1.4vw + 1.4vh);
    top: 1.5%;
    left: 97%;
    border-radius: 50%;
    background-color: #ffffff;
    /* Set background color to white */
    border: 1px solid #000000;
}

.gear {
    position: absolute;
    width: 120%;
    height: 120%;
    background: url(../assets/Gear.png) no-repeat center;
    background-size: cover;
    z-index: 71;
    /* Higher z-index */
}

.download-frame {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    position: absolute;
    width: calc(1.4vw + 1.4vh);
    height: calc(1.4vw + 1.4vh);
    top: 7%;
    left: 97%;
    background: #ffffff00;
    border: 0px solid #000000;
    border-radius: 5%;
    z-index: 44;
}

.download-icon {
    width: 100%;
    height: 100%;
    background: url(../assets/download_icon.png) no-repeat center;
    background-size: cover;
    z-index: 45;
}

.inactiveDay {
    color: #9e9e9e;
}

.events {
    display: grid;
    width: 64.1%;
    height: 80%;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    border: 1px solid #154734;
    border-radius: 20px;
    top: 17%;
    left: 20%;
}

.selectedDay {
    color: white;
    background: #98c9b0;
    border-radius: 50%;
}

.selected-day-frame {
    margin-top: 3%;
    margin-left: 3%;
    width: 1.3vw;
    /* Adjust width as needed */
    height: 1.3vw;
    /* Set height to 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1vw;
    /* Adjust font size as needed */
}

.calendar-todo-dropdown #dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 90%;
    height: 8%;
    top: 5%;
    left: 5.28%;
    cursor: pointer;
    background: #b7cdc2;
    border: 1px solid #000000;
    z-index: 12;

    font-family: JosefinSans, var(--default-font-family);
    font-size: calc(0.7vw + 0.7vh);
}

.create-dropdown #dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    flex-wrap: nowrap;
    position: absolute;
    width: 7%;
    height: 2.61%;
    top: 8%;
    left: 80%;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 12;
    font-family: JosefinSans, var(--default-font-family);
    font-size: calc(0.7vw + 0.7vh);
}

#popup {
    width: 12%;
    z-index: 100;
    position: absolute;
    left: 84.2%;
    top: 17%;
    font-size: calc(0.7vw + 0.7vh);
}

#inputs {
    width: 6vw;
    height: 1.5vh;
}
