@font-face {
    font-family: JosefinSans;
    src: url(Josefin-Sans-regular.woff);
}

body {
    background-color: #98c9b0;
    font-family: JosefinSans;
}

h1 {
    color: var(--Poly-Green, #154734);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}