.todo-entry {
    top: 17%;
    left: 20%;
    z-index: 12;
}

.contents-input {
    position: absolute;
    width: 25%;
    height: 4%;
    background: #ffffff;
    border-radius: 5px;
    left: 2%;
    top: 5%;
    z-index: 5;
    border: none;
    font-size: calc(1vw + 1vh);
}

.duedate-input {
    position: absolute;
    width: 7%;
    height: 4%;
    left: 27.5%;
    top: 5%;
    border-radius: 5px;
    text-align: center;
    border: none;
    z-index: 15;
    font-size: calc(0.6vw + 0.6vh);
}

.add-todo-button {
    position: absolute;
    width: 10%;
    height: 4%;
    left: 35%;
    top: 5%;
    background-color: var(--Stadium-Gold, #f8e08e);
    border: none;
    border-radius: 5px;
    z-index: 15;
    font-size: calc(0.6vw + 0.6vh);
    cursor: pointer;
}

.add-todo-button:hover {
    background: #f8e39e;
}

.currentDay {
    position: absolute;
    color: var(--Poly-Green, #154734);
    box-sizing: border-box;
    display: inline-block;
    font-size: calc(2.5vw + 2.5vh);
    top: 2.5%;
    left: 26.4%;
}

.TodoNavIcon {
    display: inline-block;
    width: 5.5%;
    height: 5.5%;
    position: absolute;
    fill: var(--Stadium-Gold, #f8e08e);
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    z-index: 16;
    top: 4.3%;
}

.TodoNavIcon-right {
    left: 22.25%;
}
.TodoNavIcon-left {
    left: 19.4%;
}

.TodoNavIcon:hover {
    fill: #dfdfdb;
    cursor: pointer;
}

.main-rect {
    width: 64.1%;
    height: 80%;
    position: absolute;
    background: #dfdfdb;
    border: 1px solid #154734;
    border-radius: 20px;
    top: 17%;
    left: 20%;
}

.todo-box {
    position: relative;
    width: 95%;
    left: 0%;
    top: 10%;
    height: 15%;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-item div {
    margin-bottom: 5px;
}

.todo-item button {
    margin-right: 5px;
}

.todo-item input[type="checkbox"] {
    margin-top: 10px;
}
