.todo {
    position: absolute;
    left: 242px;
    top: 122px;
    width: 1215px;
    height: 794.975px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--gray, #DFDFDB);
}

.entry {
    width: 1215px;
}

#todo-input {
    width: 1117px;
    height: 62px;
    border-radius: 24px;
    border: none;
    margin: 5px;
}

#todo-input-id {
    width: 80px;
    height: 50px;
    background-color: var(--Stadium-Gold, #F8E08E);
    border: none;
}

#todo-radioButton {
    width: 50px;
}

h1 {
    color: var(--Poly-Green, #154734);
text-align: center;
font-family: "Josefin Sans";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

